@model G5_CASO2.Models.EMPLEADO

@{
    ViewBag.Title = "Detalle";
    //Layout = "~/Views/Shared/_MiLayout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Modificar", new { id = Model.ID_EMPLEADO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
